[submodule "crossword"]
	path = crossword
	url = https://github.com/ov7a/crossword
[submodule "old_js_stuff"]
	path = old_js_stuff
	url = https://github.com/ov7a/old_js_stuff
[submodule "moving_dom"]
	path = moving_dom
	url = https://github.com/ov7a/moving_dom
	branch = built

[submodule "github-contributions"]
	path = github-contributions
	url = git@github.com:ov7a/github-contributions.git
