---
layout: default
title: Смешнявки
---
{% assign gags = site.static_files | where: "image", true | sort: 'name' | reverse %}
<div class="gallery">
{% for image in gags %}
	{% assign anchor = image.name | handleize %}
	{% assign src = image.path | relative_url %}
	{% if forloop.first %}
		{% assign prev_anchor = "" %}
	{% else %}
		{% assign prev = forloop.index0 | minus: 1 %}
		{% assign prev_anchor = gags[prev].name | handleize %}
	{% endif %}

	{% if forloop.index.last %}
		{% assign next_anchor = "" %}
	{% else %}
		{% assign next = forloop.index0 | plus: 1 %}
		{% assign next_anchor = gags[next].name | handleize %}
	{% endif %}


	<div class="preview">
		<a href="#{{ anchor }}">
			<img class="thumbnail" src="{{ src }}" loading="lazy" />
		</a>
	</div>
	<div id="{{ anchor }}" class="view">
		<img src="{{ src }}" loading="lazy" />
		<a class="prev" href="#{{ prev_anchor }}"></a>
		<a class="next" href="#{{ next_anchor }}"></a>
		<a class="close" href="#"></a>
		{% if site.data.gags_notes[anchor] %}
			<div class="notes">
				{{ site.data.gags_notes[anchor] | markdownify }}
			</div>
		{% endif %}
	</div>
{% endfor %}
</div>
