{% assign total_pages = include.posts | size | times: 1.0 | divided_by: site.blog.paginate | ceil %}

{% assign prev_page = include.page_num | minus: 1 %}
{% assign slice_from = prev_page | times: site.blog.paginate %}
{% assign posts_on_page = include.posts | slice: slice_from, site.blog.paginate %}

{% include paginator.html
	posts = posts_on_page
	total_pages = total_pages
	page_num = include.page_num
	paginate_path = site.blog.paginate_path
	first_page_path = site.blog.paginate_first_page
%}
