<div class="posts">
	{% for post in include.posts %}
		{% include post_content.html
			post=post
			discuss=false
			header-type="list"
			anchor=false
		%}
	{% endfor %}
</div>

{% if include.page_num != 2 %}
	{% assign prev_page = include.page_num | minus: 1 %}
	{% assign previous_page_path = include.paginate_path | replace: ':num', prev_page %}
{% else %}
	{% assign previous_page_path = include.first_page_path %}
{% endif %}

{% if include.total_pages > 1 %}
<div class="pagination">
	{% if include.page_num > 1 %}
		<a href="{{ previous_page_path | relative_url }}">← </a>
	{% else %}
		<span>← </span>
	{% endif %}

	{% for page in (1..include.total_pages) %}
		{% if page == include.page_num %}
			<span>{{ page }}</span>
		{% elsif page == 1 %}
			<a href="{{ include.first_page_path | relative_url }}">{{ page }}</a>
		{% else %}
			<a href="{{ include.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
		{% endif %}
	{% endfor %}

	{% if include.page_num < include.total_pages %}
		{% assign next_page = include.page_num | plus: 1 %}
		<a href="{{ include.paginate_path | relative_url | replace: ':num', next_page }}"> →</a>
	{% else %}
		<span> →</span>
	{% endif %}
</div>
{% endif %}
