$theme-color: #2a7ae2 !default;
$font-font-awesome: FontAwesome;

h1.post-list {
	float: left;
}

.list-type {
	float: right;
}

.list-header:after {
	content: "";
	display: table;
	clear: both;
}

summary.spoiler {
	text-decoration: underline dotted;
	color: $theme-color;
}

kbd {
	border: 2px;
	border-bottom: 3px;
	border-radius: 5px;
	border-style: outset;
	background-color: #F0F0F0;
	padding: 2px;
	font-size: 75%;
	white-space: nowrap;
}

@import "_badges";
@import "_spacing";
@import "_print";
@import "_gallery";
@import "_anchors";

