---
layout: page
title: Теги
---

<div class="tags-expo">
<p>
  <div class="tags-expo-list">
  	{% assign sorted_tags = site.tags | sort %}
    {% for tag in sorted_tags  %}
    <a href="#{{ tag[0] | slugify }}" class="post-tag">{{ tag[0] }}</a>
    {% endfor %}
  </div>
</p>
<p>
	<a href="/search">Поиск по постам</a>
</p>
<p>
  <div>
    {% for tag in sorted_tags %}
    <h2 id="{{ tag[0] | slugify }}">{{ tag[0] }} ({{ tag[1].size }})</h2>
    <ul>
      {% for post in tag[1] %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</p>
</div>
