div.main {
    max-width: calc(800px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.hint {
    font-size: small;
}

.results table {
    margin-right: auto;
    margin-left: auto;
}

.output {
    margin-top: 5ex;
}

#limit {
    max-width: 4em;
}