---
layout: default
---
{{ content }}

{% assign notes = "puzzle_notes_game" | append: page.number %}
{% assign collection_name ="game" | append: page.number %}

{% assign collection = "" | split: "," %}
{% for file in site.static_files %}
  {% if file.puzzle_image %}
  	{% if file.path contains collection_name %}
  	    {% assign collection = collection | push: file %}
  	{% endif %}
  {% endif %}
{% endfor %}

{% assign sorted_collection = collection | sort: 'name' %}
{% include gallery.html
	items = sorted_collection
	note_layout = "puzzle_notes"
	notes = notes
%}

