name: "Build and deploy"

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  build-and-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          path: website

      - name: Setup Ruby
        uses: ruby/setup-ruby@472790540115ce5bd69d399a020189a8c87d641f # v1.247.0
        with:
          ruby-version: '3.3.8'
          bundler-cache: true
          cache-version: 0
          working-directory: website

      - name: Check TG ids
        run: |
          cd website
          bundle exec ruby .github/workflows/check_tg_ids.rb

      - name: Get search
        run: |
          curl -sSL 'https://github.com/ov7a/klava/releases/latest/download/release.tar.gz' | tar -xz
          cp search.min.mjs ./website/search

      - name: Index data
        run: |
          ./indexer ./website/search/index.json ./website/_posts

      - name: Build with Jekyll
        working-directory: website
        run: bundle exec jekyll build --baseurl ""
        env:
          JEKYLL_ENV: production

      - name: Check links
        uses: lycheeverse/lychee-action@v2.6.1
        with:
          # excluded # and ## as they used in the gallery
          args: >
            --no-progress --include-fragments --offline './website/_site'
            --extensions html
            --root-dir "${PWD}/website/_site" --index-files index.html
            --remap '^https?\://ov7a.github.io/.+$ USE_RELATIVE_LINKS'
            --exclude-path 'moving_dom/index.html'
            --exclude '##?$'

      - name: Upload artifact
        id: deployment
        uses: actions/upload-pages-artifact@v3
        with:
          path: website/_site/

  deploy:
    needs: build-and-check
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
